In [1]:
import pandas as pd

In [2]:
x =[1965,1966,1967,1968,1969,1970,1971,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]

In [30]:
data1 = pd.read_csv("CEO.csv")
data1

    Year   Realized CEO compensation    Granted CEO compensation
0   1965                         21.1                        15.4
1   1966                         22.3                        16.3
2   1967                         23.6                        17.3
3   1968                         24.8                        18.2
4   1969                         24.6                        18.0
5   1970                         24.3                        17.8
6   1971                         24.0                        17.6
7   1972                         23.7                        17.4
8   1973                         23.4                        17.2
9   1974                         25.0                        18.3
10  1975                         26.6                        19.5
11  1976                         28.2                        20.7
12  1977                         29.8                        21.8
13  1978                         31.4                        23.0
14  1979                         34.1                        25.0
15  1980                         36.9                        27.0
16  1981                         39.6                        29.0
17  1982                         42.3                        31.0
18  1983                         45.0                        33.0
19  1984                         47.8                        35.0
20  1985                         50.5                        37.0
21  1986                         53.2                        39.0
22  1987                         55.9                        41.0
23  1988                         58.7                        43.0
24  1989                         61.4                        45.0
25  1990                         77.3                        56.6
26  1991                         93.1                        68.2
27  1992                        109.0                        79.8
28  1993                        108.6                        99.6
29  1994                         87.4                       116.6
30  1995                        117.6                       131.0
31  1996                        150.6                       177.0
32  1997                        223.4                       234.1
33  1998                        297.4                       293.4
34  1999                        266.1                       284.4
35  2000                        365.7                       386.1
36  2001                        210.6                       322.6
37  2002                        186.8                       235.0
38  2003                        228.8                       227.0
39  2004                        265.7                       235.0
40  2005                        318.4                       244.5
41  2006                        328.2                       244.1
42  2007                        330.9                       242.0
43  2008                        206.7                       219.4
44  2009                        177.6                       178.3
45  2010                        213.1                       202.8
46  2011                        242.4                       208.1
47  2012                        371.7                       201.3
48  2013                        318.5                       209.7
49  2014                        326.6                       217.2
50  2015                        318.8                       209.5
51  2016                        271.6                       205.8
52  2017                        302.1                       193.2
53  2018                        293.3                       212.3
54  2019                        320.0                       222.8

In [60]:
data1.columns.unique()[1]

' Realized CEO compensation '

In [66]:
year =[]
rank= []
c1 =[]
c2 = []


for k in range(391):
    for i in data1[data1.columns.unique()[0]]:
        year.append(i)
        
for k in range(391):
    for i1 in data1[data1.columns.unique()[1]]:
        c1.append(i1)
        
for k in range(391):
    for i2 in data1[data1.columns.unique()[2]]:
        c2.append(i2)
        rank.append(k)

In [81]:
df = pd.DataFrame (year,columns=['Year'])
df["rank"] = rank
df["Realized CEO compensation"] = c1
df["Granted CEO compensation"] = c2

In [82]:
decades= [1960,1970,1980,1990,2000,2010]
avg_c1 = [23.28,27,49.13,153.05,261.94,297.81]
avg_c2 = [17.0 , 19.8 , 36.0 , 154.1 ,253.4 ,208.3 ]
d1 = []
c1_=[]
c2_ =[]
rank1=[]

for k in range(391):
    for i in decades:
       d1.append(i)
        
for k in range(391):
    for i1 in avg_c1:
        c1_.append(i1)
        
for k in range(391):
    for i2 in avg_c2:
        c2_.append(i2)
        rank1.append(k)

In [83]:
df1 = pd.DataFrame (d1,columns=['Decades'])
df1["rank1"] = rank1
df1["Avg. Realized CEO compensation"] = c1_
df1["Avg. Granted CEO compensation"] = c2_

In [84]:
df1.to_csv("CEO_dataset2.csv")